.bounding-box {
  position: absolute;
  cursor: pointer;
  border: 1px solid transparent; /* Initially no border */
  transition: transform 2s ease; /* Smooth transitions */
  opacity: 0; /* Initially hidden */
  border-radius: 50%; /* Makes the box circular */
}

.bounding-box:hover {
  opacity: 1; /* Show bounding box */
  transform: scale(0.8); /* Scale down the box */
}